@charset "utf-8";

.Columna{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.Fila{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
a{
	color:white;
}


body{
color: rgba(223,223,223,1.00);
font-family: alegreya, serif;
font-size: 20px;
	
background-color: hsla(358,100%,94%,1.00);
background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,                  
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px       
  ),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, 
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px       
);
}
#bodyContenedor {
	width: 1000px;
	margin: 10px auto;
}



#cabecera{
	background-color: rgba(28,87,32,1);

	font-family: fredericka-the-great, sans-serif;
	margin: 10px 0;
	border-radius:10px;
}

#titulo{
	height: 120px;
	align-items: center;
	justify-content:space-around;
	font-size: 80px;
	
}


#menuPrincipal{
	align-items:stretch;
	justify-content: flex-end;
	height: 50px;
	border-top: thin double #B5B5B5;
}
#menuPrincipal:hover{
	opacity: 0.9;
}
#menuPrincipal li{
	display:inline-block;
	min-width: 100px;
	padding: 10px;
}
#menuPrincipal li:hover{
	background-color: rgba(74,24,24,1);
	padding-right: 50px;
}



.seccion{	
	background-color: rgba(28,40,87,1);
	padding: 20px;
	margin: 10px 0;
	border-radius:10px;
}
.seccion:hover{
	opacity: 0.9;
}
#Intro{	
	background-color: rgba(74,24,24,1);
}
